<div *ngIf="!!sortedPhotos">
  <h1>
    Photos
  </h1>

  <div class="row">
    <div class="col-12">
      <form [formGroup]="searchForm">
        <input type="text" class="form-control search-bar" placeholder="Search"
               title="search term" name="searchTerm" formControlName="searchTerm"/>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <div class="card-container" *ngFor="let photo of sortedPhotos">
        <img [src]="photo.thumbnailUrl" class="card-thumbnail">
        <div class="overlay text-center" (click)="goToPhoto(photo.id)"><i class="fa fa-search search-icon" aria-hidden="true"></i></div>
        <div class="card-text">{{photo.title}}</div>
        <div class="card-footer">Id: {{photo.id}} | Album: {{photo.albumId}}</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="hidden-sm-down col-sm-4"></div>
    <div class="col-12 col-sm-4 pagination">
      <pagination [boundaryLinks]="true"
                  [itemsPerPage]="limit"
                  [totalItems]="totalPages"
                  [rotate]="true"
                  [maxSize]="5"
                  [(ngModel)]="currentPage"
                  (pageChanged)="goToPage($event)"
                  class="pagination-sm"
                  previousText="&lsaquo;"
                  nextText="&rsaquo;"
                  firstText="&laquo;"
                  lastText="&raquo;"></pagination>
    </div>
    <div class="hidden-sm-down col-sm-4"></div>
  </div>
</div>

